<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog page</title>
  <meta name="description" content="this is my website">
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/normalize.css">
  <link rel="stylesheet" href="../public/css/fontawesome.min.css">
  <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
      <nav class="header" id="header">
        <div class="container">
          <a href="/" class="logo">Bader Idris</a>
          <ul class="main-nav">
            <li><a href="/#landing" >home</a></li>
            <li><a href="/video">video services</a></li>
            <li><a href="#testimonials">testimonials</a></li>
            <li><a href="#portfolio">portfolio</a></li>
            <li><a href="/blog" class="active">blog</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="blog">
      <div class="container">
        <div class="title">
          Lorem ipsum dolor sit amet.
        </div>
        <p class="paragraph">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos in maxime debitis, ex, doloribus perspiciatis
          sed atque officia suscipit dolores voluptate explicabo et! Possimus suscipit impedit unde eius alias est dicta quia
          veniam. Provident praesentium eaque, quo sequi dolores, placeat totam at, omnis tenetur id in? Facilis perspiciatis
          eos id animi, nulla asperiores possimus beatae nesciunt obcaecati ratione voluptatum, est corporis fuga quos tempora
          ex nisi. Dignissimos ipsum iste voluptatum tenetur, dicta officiis? Corporis adipisci illo assumenda deleniti, aperiam
        </p>
        <p class="paragraph">
          unde error sequi explicabo. Sit cumque provident quibusdam blanditiis, dolor eius! Quasi enim perferendis tempora
          officiis molestias quod fuga. Voluptatem a laborum accusamus consequatur similique voluptate ea aliquid. Vero odit
          libero, illum tempora, ab nobis id tenetur necessitatibus excepturi eius voluptates a voluptate impedit dicta ducimus,
          beatae quam. Molestias aspernatur atque qui alias ab blanditiis, nobis explicabo ipsum cupiditate sit! Repudiandae
          laudantium, voluptate sunt assumenda cumque quibusdam natus dignissimos facere ipsa.
        </p>
      </div>
    </main>
    <section class="comments">
      <div class="user">
        <p>designer</p>
        <p>Bader</p>
          <img src="https://placehold.co/45x45" alt="avatar">
        <div class="comment">
          <p>i love mom</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Officia molestias consectetur pariatur, quos officiis illum!
          </p>
        </div>
      </div>
    </section>
    <footer>
      <div class="copyright">
        Copyright &#169 2023 All Rights Reserved.
      </div>
    </footer>
  <script src="../public/js/blogPage.js"></script>
</body>
</html>