<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>my blog</title>
  <meta name="description" content="this is my website">
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/normalize.css">
  <link rel="stylesheet" href="../public/css/fontawesome.min.css">
  <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
      <nav class="header" id="header">
        <div class="container">
          <a href="/" class="logo">Bader Idris</a>
          <ul class="main-nav">
            <li><a href="/#landing" class="active">home</a></li>
            <li><a href="/video">video services</a></li>
            <li><a href="#testimonials">testimonials</a></li>
            <li><a href="#portfolio">portfolio</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div class="theme">
        <div class="toggleWrapper">
          <input type="checkbox" class="dn" id="dn">
          <label for="dn" class="toggle">
            <span class="toggle__handler">
              <span class="crater crater--1"></span>
              <span class="crater crater--2"></span>
              <span class="crater crater--3"></span>
            </span>
            <span class="star star--1"></span>
            <span class="star star--2"></span>
            <span class="star star--3"></span>
            <span class="star star--4"></span>
            <span class="star star--5"></span>
            <span class="star star--6"></span>
          </label>
        </div>
      </div>
      <section>
        <div class="register">
          <a href="/register">register</a>
        </div>
        <div class="query">
          <!-- <a href="/api/v1/query">query</a> -->
          <a href="#" id="queryButton">query</a>
        </div>
      </section>
    </main>
    <footer>
      <div class="copyright">
        Copyright &#169 2023 All Rights Reserved.
      </div>
    </footer>
  <script src="../public/js/main.js"></script>
</body>
</html>