:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-bg: #ececec;
  --night-section-bg: #10101a;
  --light-gray: #777;
  --soft-black: #4f4f4f;

  --Neon-Green: hsl(150, 100%, 66%);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'cairo', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@font-face {
  font-family: 'Segoe script';
  src: url('../segoe-font/segoesc.woff'),
      url('../segoe-font/segoesc.woff2');
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.sub-title {
  line-height: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--soft-black);
}
/* -----------------  End globals ------------------------- */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  font-size: 26px;
  color: var(--main-color);
  font-weight: 700;
  font-family: 'Segoe script';
  letter-spacing: -1px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px) {
  .header .logo {
    width: 100%;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width:767px) {
  .header .main-nav {
    margin: auto;
  }
}
.header .main-nav>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width:767px) {
  .header .main-nav>li>a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
    margin-top: -15px;
  }
}
.header .main-nav>li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav>li>a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.header .main-nav>li>a.active::before,
.header .main-nav>li>a:hover::before {
  left: 0;
}
/* --------------- Header end --------------- */
/* --------------- theme start --------------- */
.toggleWrapper {
  position: absolute;
  top: 80px;
  right: 0px;
  overflow: hidden;
  padding: 0 200px;
  color: white;
  background: #ccc;
  border-radius: 15px;
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
  content: 'AM';
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}

.toggle:after {
  content: 'PM';
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: #749ed7;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4, .star--5, .star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}

input:checked + .toggle:before {
  color: #749ed7;
}

input:checked + .toggle:after {
  color: #fff;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}
input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/* --------------- theme end --------------- */
/* -------------- landing start ------------- */
.landing {
  background-color: var(--section-bg);
}
.landing.night {
  background-color: var(--night-section-bg);
}
.landing .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.landing .title {
  font-size: 56px;
  line-height: 0;
}
.landing .title .owner-name,
.landing .title .professions {
  color: var(--main-color);
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
  }
  .landing .title {
    font-size: 46px;
  }
}
.intro > p:not(:first-child) {
  padding-bottom: 20px;
  line-height: 1.6;
}
.landing .text {
  padding-left: 20px;
  padding-top: 10px;
}
.social-contact button {
  width: 240px;
  font-size: 19px;
  padding: 20px;
  background-color: var(--main-color-alt);
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.social-contact button:hover {
  opacity: 0.7;
}
.social-contact .icons {
  width: 50%;
  padding: 10px;
}
@media (max-width: 991px) {
  .social-contact button {
    width: 100%;
  }
  .social-contact .icons {
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-evenly;
  }
  .social-contact .icons {
    margin: 0 auto;
  }
}
.social-contact .icons i {
  color: #222;
  cursor: pointer;
  padding: 10px;
}
.social-contact .icons a:first-child i:hover {
  color: #0088cc;
}
.social-contact .icons a:hover:nth-child(2) i {
  color: #25D366;
  /* box-shadow: 0 0 15px 5px var(--Neon-Green); */
  /* border-radius: 12em; */

}
.social-contact .icons a:hover:nth-child(3) i {
  color: #424040;
}
.social-contact .icons a:hover:nth-child(4) i {
  color: #c71610;
}
/* -------------- landing end --------------- */

/* ------------ testimonials start --------------- */

.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}
.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .box h3 {
  margin: 0 0 10px;
}
.testimonials .box .title {
  color: var(--light-gray);
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  line-height: 1.5;
  color: var(--light-gray);
  margin-top: 10px;
  margin-bottom: 0;
}
/* -------------- testimonials end --------------- */

/* ------------- footer start --------------- */
footer {
  background-color: #191919;
  padding: 70px 0 0;
}

@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
  letter-spacing: 1px;
}

footer .box .social {
  display: flex;
}

@media (max-width: 767px) {
  footer .box .social {
    justify-content: center;
  }
}

footer .box .social li {
  margin-right: 10px;
}

footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
footer .box .social .facebook:hover {
  background-color: #1877f2;
}
footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
footer .box .social .youtube:hover {
  background-color: #ff0000;
}
footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .box .links li:hover {
  padding-left: 10px;
}
footer .box .links li:hover a {
  color: white;
}
footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .box .line {
    flex-direction: column;
  }
}
footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
footer .box .line .info span {
  display: block;
}
footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
  text-transform: capitalize;
}
/* --------------  footer end --------------- */
.scroller {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 10px;
  background-color: var(--main-color);
  z-index: 1000;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 10px #ddd inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
















/* for iframe youtube apis  */
#player {
  pointer-events: none;
}

.ytp-chrome-bottom,
.ytp-chrome-controls {
  display: none !important;
}

.ytp-watermark {
  display: none !important;
}
/* -----------------------  */




























.query,
.register {
  width: 300px;
  min-height: 40px;
  background: #007acc;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin: 80px auto;
  cursor: pointer;
  user-select: none;
}
.register:hover {
  opacity: 0.8;
}
.query a,
.register a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.query-yo {
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  background: #444;
  color: white;
}










/* start blog */
.comments {
  padding-top: 60px;
  padding-bottom: 60px;
}
.comments .user {}
.comments .user img {
  width: 45px;
  height: 45px;
  background: black;
  display: block;
}
.blog .paragraph {
  padding: 20px;
  margin: 20px auto;
  min-width: 360px;
  width: 80%;
  line-height: 31px;
  background: #222;
  color: #ececec;
  font-size: 20px;
  border-radius: 4px;
}
/* end blog */